<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Guadalajarapp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E9EABB1884A4A97D7A18BCD3B37EA9A1F824D718</string>
				<key>dateExpires</key>
				<string>6/14/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>63B8N9Z9DR.danimore.com.Guadalajarapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>63B8N9Z9DR</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Guadalajarapp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fac20a27-23e9-406a-aefe-087684069efd</string>
				<key>dateExpires</key>
				<string>10/19/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>63B8N9Z9DR</string>
				<key>name</key>
				<string>Daniel Moreno</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
